.whiteSection {
    margin-top: 40px;
    background-color: red;
  }

  .file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .file-upload-label input {
    display: none;
  }
  .file-upload-label svg {
    height: 50px;
    fill: #05A88B;
    margin-bottom: 5px;
  }
  .file-upload-label {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px dashed #05A88B;
  
  }
  .file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .browse-button {
    /* background-color: #05A88B; */
    padding: 5px 15px;
    border-radius: 10px;
    color: black;
    transition: all 0.3s;
  }

  .buttonele {
    color: #05A88B;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #05A88B;
    padding: 10px;
    border-radius: 6px;
}


  
.buttonele:hover {
  background-color: #05A88B;
  color: white;  
}

.element {
  display: flex;
  justify-content: end;
  width: 90%;
}


.deleteButton {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 7px;
}
.deleteButton svg {
  width: 44%;
}
.deleteButton:hover {
  background-color: rgb(237, 56, 56);
  overflow: visible;
}
.bin path {
  transition: all 0.2s;
}
.deleteButton:hover .bin path {
  fill: #fff;
}
.deleteButton:active {
  transform: scale(0.98);
}
.tooltip {
  --tooltip-color: rgb(41, 41, 41);
  position: absolute;
  top: -40px;
  background-color: var(--tooltip-color);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: 600;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.tooltip::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  background-color: var(--tooltip-color);
  bottom: -10%;
}
.deleteButton:hover .tooltip {
  opacity: 1;
}

